* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1440px;
    height: 900px;
    background-image: url("./../image/image10.png");
    margin: 0 auto;
    .window {
        position: relative;
        max-width: 671px;
        min-height: 745px;
        top: 93px;
        margin: 0 auto;
        background-color: #014e6c;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        header {
            position: absolute;
            height: 39px;
            display: flex;
            top: 13px;
            left: 15px;
            .icon {
                width: 38px;
                height: inherit;
                background-image: url("./../icon/image\ 1.png");
            }
            .text {
                font-size: 20px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                font-weight: 500;
                color: white;
                margin: 5px 5px;
            }
        }

        p {
            position: absolute;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #adbfc7;
            top: 153px;
            text-align: center;
        }
    }
}
